.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background-color: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.login_form input {
    border-radius: 50px;
    padding: 5px;
}

#login_button {
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    margin-top: 10px;
}